/* CSS declarations go here */
body{
	background-color: black;
}

.red {
	color:red;
}

.middle {
	background-color: white;
}

span:hover {
	color:green;
}

.registerBox{
	background-color: black;
	margin-top:40%;
	color: white;
	text-align: center;
	border: 1px solid white;
}

.loginBox {
	margin: 10px;
	text-align: center;
}

#signUp input{
	background: none;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid white;
	color: white;
}

#login input{
	width: 100%;
	margin-top: 5px;
	color: black;

}

.modal-content {
	background-color: gray;
	color: white;
}

.logout{
	cursor: pointer;
}

.middle{
	background-color: white;
	border: 1px solid gray;
}

.panel{
		border-radius: 15px;
		box-shadow: 10px 10px 5px;
		background-color: #ffffe5;
		width: 450px;
		margin: 0 auto;
		margin-top:10px;
		padding: 20px;
}

.panelHeader {
	width: 100%;
	float: right;
}


.debug{
	color:gray;
	font-size: 10px;
}

.choice{
	width:100%;
	background-color: #6666FF;
	border:1px solid white;
	padding: 5px;
}

.choice a{
	color: white;
	text-decoration: none;
	font-size: 2em;
	cursor: pointer;
}

.new-story * {
	margin: 5px;
}


.new-panel input{
	width: 100%;
}

.avatar{
	height: 35px;
	width: 35px;
	float: right;
}

.hiddenInputs{
	display: none;
}

.new-panel .storyInput {
	height: 150px;
}

.new-panel .choiceNameInputBar {
	overflow: hidden;
}

.new-panel .choiceNameInput {
	width: 100%;
	height: 45px;
	color: white;
	background-color: blue;
	border: none;
	padding: 5px;
}

.new-panel .choiceNameInput:focus{
	outline: none;
}

.new-panel .addChoiceButton {
	float:right;
	top: 0;
	color: white;
	height: 45px;
	background-color: blue;
	margin:none;
	border: none;
	font-size: 45px;
	cursor: pointer;
}

.bookmarkButton {
	color: blue;
	font-size: 35px;
	float:right;
}

.new-story input{
	width: 100%;
}

.new-story .storyInput {
	height: 150px;
}

.new-story .hiddenInputs {
	width: 100%;

} 

.libraryCard{
	border: 1px solid black;
	min-height: 400px;
	height: 400px;
	background-color: white;
	/*margin: 5px;*/
	overflow: hidden;
	position: relative;
	z-index: 1;
}


.fade{
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: white;
	z-index: 2;
}

.libraryLink {
	text-decoration: none;
	cursor: pointer;
}

.libraryHeader {
	width: 100%;
	text-align: center;
}

.textPreview{
	font-size: .7em;
}

.error{
	font-size: .7em;
	color: red;
}

.navbar {
	border: none;
	background-color: black;
	color: white;
}

.middle{
	background-color: #bf8040;
}