/* CSS declarations go here */

/* Global */

body{
	background-color: black;
	font-family: 'Poiret One', cursive;
}

.btn:hover{
	background-color: gray;
}

.red {
	color:red;
}

.middle {
	background-color: #666699;
	border-radius: 10px;
}

.error{
	min-height: 14px;
	font-size: 14px;
	color: red;
}

.navbar {
	border: none;
	background-color: black;
	color: white;
}

/*  Auth and Reg */

.registerBox{
	background-color: black;
	margin-top:40%;
	color: white;
	text-align: center;
	border: 1px solid white;
}

.loginBox {
	margin: 10px;
	text-align: center;
}

.modal-header {
	border-bottom: none;
}

#signUp input{
	background: none;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid white;
	color: white;
}

#login input{
	width: 100%;
	margin-top: 5px;
	color: black;

}

.modal-content {
	background-color: gray;
	color: white;
}

.logout{
	cursor: pointer;
}

/* Panel and Story */

.title {
	font-size: 5em;
	text-align: center;
	text-shadow: 2px 2px black;
	color: white;
}

.panel{
		border-radius: 15px;
		box-shadow: 10px 10px 5px;
		background-color: #ffffe5;
		width: 450px;
		margin: 0 auto;
		margin-top:10px;
		padding: 20px;
}

.panelHeader {
	width: 100%;
	float: right;
}

.panelText {
	font-family: Corbel, "Lucida Grande", Verdana, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    color: #4d2600;
}

span:hover {
	color:green;
	cursor: pointer;
}

span.locked {
	color: red;
	cursor: auto;
}

span.storyLink {
	color: blue;
}

.debug{
	color:gray;
	font-size: 10px;
}

.choice{
	width:100%;
	background-color: #996666;
	border:1px solid white;
	padding: 5px;
	color: white;
	text-decoration: none;
	font-size: 2em;
	cursor: pointer;
}

.new-panel-choice input{
	width: 100%;
}

.new-panel-impression input{
	width: 100%;
}

.panelAvatar{
	height: 35px;
	width: 35px;
	float: right;
}

.hiddenInputs{
	display: none;
}

.impression{
	display: none;
}


.new-panel-choice .storyInput {
	height: 150px;
	width: 100%;
	border: 1px solid #666699;
	margin-bottom: 14px;
}

.new-panel-impression .storyInput {
	height: 150px;
	width: 100%;
	border: 1px solid #666699;
	margin-bottom: 14px;
}

.new-panel-choice .choiceNameInputBar {
	overflow: hidden;
}

.new-panel-choice .choiceNameInput {
	width: 100%;
	height: 45px;
	color: white;
	background-color: white;
	border-top: 1px solid #666699;
	border-bottom: 1px solid #666699;
	border-left: 1px solid #666699;
	border-right: none;
	padding: 5px;
}

.new-panel-choice .choiceNameInput:focus{
	outline: none;
}

.new-panel-choice .addChoiceButton {
	float:right;
	top: 0;
	color: #666699;
	height: 45px;
	background-color: white;
	margin:none;
	border-top: 1px solid #666699;
	border-bottom: 1px solid #666699;
	border-right: 1px solid #666699;
	border-left: none;
	font-size: 45px;
	cursor: pointer;
}

.bookmarkButton {
	color: #666699;
	font-size: 35px;
	float:right;
	cursor: pointer;
}

.glyphicon-ok {
	color: green;
}

.new-story {
	padding-bottom: 20px;
}

.new-story * {
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 10%;
}

.new-story input{
	width: 80%;
	font-size: 2em;
}

.new-story .storyInput {
	height: 150px;
	width: 80%;
	vertical-align: top;
}


/* Library */

.libraryCard{
	border: 1px solid black;
	min-height: 400px;
	height: 400px;
	background-color: white;
	/*margin: 5px;*/
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.tag {
	background-color: gray;
	color:white;
	border-radius: 8px;
	text-align: center;
	display: inline;
	padding: 2px;
	margin: 2px;

}

/*  THIS CLASSNAME BREAKS MODALS
.fade{
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: white;
	z-index: 2;
}*/

.libraryLink {
	text-decoration: none;
	cursor: pointer;
}

.libraryHeader {
	width: 100%;
	text-align: center;
}

.textPreview{
	font-size: .7em;
}

