<template name="form">

	{{#if choices }}
		<h2>Continue the story:</h2>
		<form class="new-panel-choice">
				<div class="error">{{getChoiceError}}</div>
				<div class="addChoiceButton glyphicon glyphicon-plus"></div>
				<div class="choiceNameInputBar">
					<input type="text" class="choiceNameInput" name="choiceName" placeholder="Type your choice name here (eg 'Enter the cave')" autofocus>
				</div>
				
				
			<div class="hiddenInputs">
				<div class="error">{{getStoryError}}</div>
				<!--<input type="textarea" name="text" class="storyInput" placeholder="Type your story here" >-->
				<textarea type="textarea" name="text" class="storyInput" placeholder="Type your story here"></textarea>
				<input type="hidden" name="parent" value= {{_id}} >
				<input type="submit" class="btn btn-default" value="Submit">
			</div>

		</form>
	{{/if}}
		<form class="new-panel-impression">
			<div class="impression">
				<textarea type="textarea" name="text" class="storyInput" placeholder="Type your story here"></textarea>
				<input type="hidden" name="parent" value= {{_id}} >
				<input type="hidden" name="choiceName" value='null'> 
				<input type="submit" class="btn btn-default" value="Submit">
				<input type="button" class="btn btn-default" value="Cancel">
			</div>
		</form>
		
				
</template>