<template name="library">

	<div class="title"> Library</div>

	<div class="searchBar">
		<form class="search">
		<input type="text" name="searchTerms" placeholder="Search by genre...">
		<input type="submit" style="display:none" class="btn btn-default" value="Submit">
	</form>
	</div>	
	<div class="container-fluid">
		{{#if searching}}
			{{#each searchResults}}
				{{> libraryStory this}}
			{{/each}}
		{{else}}
			{{#each stories}}
				{{> libraryStory }}
			{{/each}}
		{{/if}}
</div>

</template>