<template name="libraryStory">
	<a href="../story/{{_id}}" class="libraryLink">

		<div class="libraryCard col-lg-3 col-md-3 col-sm-4 col-xs-6">
			<div class="libraryHeader"> <h2>{{title}}</h2>
				
				{{#with getAuthor createdBy}}
					Created by: {{this.profile.name}}
				{{/with}}
			</div>
			<div class="tags">
				{{#each tags}}
					<div class="tag"> {{this}} </div>
				{{/each}}
			</div>
			<div class="textPreview">
				{{#with textPreview text}}
					{{this}}
				{{/with}}
			</div>	
		<div class="faderBottom"></div>
		</div>
		
	</a>
</template>