<template name= "panel">
	<div class="panel" id={{id}}>
		
		{{#if activePanel id }}
			
			{{#with getPanel id}}
			
			<div class="panelHeader">



				{{#with isBookmarked ../id}}
				<div class="bookmarkButton {{glyphClass}}" title="Bookmark this panel"></div>
				{{/with}}
				<div class="linkButton glyphicon glyphicon-link" data-toggle="modal" data-target="#linkModal" title="Share a link to this panel"></div>
				{{#with getAvatar createdBy}}
					<a href="/profile/{{this._id}}" title="Created by {{profile.name}}"><img src={{profile.avatar}} class="img-circle img-responsive panelAvatar"/></a>
				{{/with}}


			</div>

				<div class="panelText"> {{{text}}} </div>

				<!--<div class="debug">
					parent panel : {{parentPanel}} <br />
					parent story : {{parentStory}} <br />
					this panels id: {{_id}}  <br />
					created by: {{createdBy}} <br />
				</div>-->

				{{#if activePanel ../id }}
					{{#each children}}		
						{{#with getChild this}}
							<div class="storyLink choice" id={{_id}}>
								{{choiceName}}
								<!--<a class="storyLink" id={{_id}} > {{choiceName}}  </a>-->
							</div> 
						{{/with}}
					{{/each}}

					{{> form  }}
				{{/if}}

			{{else}}
				there is no panel
			{{/with}}
		{{else}}
			<div class="panelText"> 
				{{#with getPanel id}}
					{{#with getPlainText text }}
						{{this}}
					{{/with}}
				{{/with}}
			</div>

		{{/if}}
	</div>

	<div class="modal fade" id="linkModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Share this storyline with the link below!</h4>
				</div>
				<div class="modal-body linkArea">
					
				</div>
			</div>
		</div>
	</div>
</template>
