<template name="profile">
	
	<!--<h2>Title: {{title}}</h2>

	current story: {{currentStoryID}}<br />
	active panel: {{activePanel}}<br />

	<div id="workspace">
		{{#each storyLine }}
			{{> panel id=_id}}
			<br />
		{{/each}}
	</div>-->
	<div id="workspace">
		<div class="container-fluid">
		{{#with getProfile userId}}

			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-10 profileSidebar"> 
				
				<img src={{profile.avatar}} class="img-circle img-responsive"/>
				<h1 class="profileUsername">
					{{#if myProfile ../userId}} Hi {{/if}}
					{{profile.name}}
					{{#if myProfile ../userId}}!{{/if}}
				</h1>
			</div>
		
			<div class="col-lg-10 col-md-9 col-sm-7 col-xs-10">

				{{#if myProfile ../userId}}
				<h2 class="bookmarksHeader">Your Bookmarks</h2>
				{{#each profile.bookmarks}}
					
					{{#with getBookmarks this}}
						<a href="../story/{{this._id}}">
						{{#with getParentTitle this.parentStory}}
							{{title}} 
						{{/with}}
						</a><br />
						
					{{/with}}
				{{/each}}
				{{else}}
				<h2 class="bookmarksHeader">Stories {{profile.name}} has contributed to:</h2>


				{{/if}}


			</div>
		{{/with}}
	</div>

	</div>

</template>