<head>
  <title>Pulp</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>

<body >
</body>

<template name="ApplicationLayout">
	<div class="container-fluid">

		{{#if currentUser}}
			<div class="row">
				{{#if currentUser}}
				  	{{> nav}}
				{{/if}}
			</div>
			<div class="row">
				<div class="col-lg-1 col-md-1"></div>
				
				<div class="col-lg-10 col-md-10 middle">
					

					<div class="main">
						{{> yield "main"}}
					</div>

				</div>
				
				<div class="col-lg-1 col-md-1"></div>
			</div>
		{{else}}
			<!-- bootstrap layout specific for no logged in users -->
			<div class="animatedBackground"></div>
			<div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
				<div class="registerBox">	
				<h1>PULP!</h1>
				<h3>Tell stories together</h3>	
					<h2>Sign up</h2>	
					{{> register}}

					<div class="loginBox">
						Or
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">
  							Login
						</button>
					</div>
				</div>
				
				<!-- Login Modal -->
				<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h2 class="modal-title" id="loginModalLabel">Login</h2>
								<div class="modal-body">
									{{> login}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end login modal -->

			</div>
			<div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
		{{/if}}
	</div>
</template>

